<h2>{<%= @customer.last_name %> + <%= @customer.first_name %>}さんの注文履歴</h2>
<table>
  <thead>
    <tr>
      <th>購入日時</th>
      <th>注文個数</th>
<!--注文ステータス作成なし-->
    </tr>
  </thead>
    <tbody>
<!--オーダーモデルの記入-->
<% @orders.each do |order| %>
<tr>
<td><%= link_to order.created_at, admin_order_path(order)  %></td>
<td><%= order.order_details.sum(:amount) %></td>
<% end %>
    </tbody>
</table>